Package: dev.metaware.external.esp
Name: External_ESP_FF
Version: 1.0.0
Architecture: iphoneos-arm
Description: External ESP Overlay for Free Fire 1.132.1 (TrollStore iOS 16.x)
Maintainer: Fl0rk
Author: Fl0rk
Section: Utilities
